# Theory Questions

1.What are data structures, and why are they important?

Data structures are ways to organize and store data in a computer. They are important because they help make it easier to access, retrieve, and update data. Data structures are used in many programs and software systems.

2.Explain the difference between mutable and immutable data types with examples?

Mutable Data Type – A mutable data type is one whose values can be changed.
Example:List, Dictionaries, and Set

Immutable Data Type – An immutable data type is one in which the values can’t be changed or altered.
Example:String and Tuples

3.What are the main differences between lists and tuples in Python?

The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified.

4.Describe how dictionaries store data?

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?

The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

6.What is a string in Python, and how is it different from a list?

In Python, a list is a collection of items that can be of any data type and can be modified (mutable). Lists are represented by square brackets and can contain multiple elements separated by commas. On the other hand, a string is a sequence of characters enclosed in single or double quotes. Strings are immutable, meaning their values cannot be changed once they are created. While both lists and strings can be accessed using indexing and slicing, lists provide more flexibility as they can be modified, appended, or extended, while strings cannot be altered after creation.

7.How do tuples ensure data integrity in Python?

Tuples are an essential data structure in Python, representing an immutable, ordered collection of elements. They are similar to lists but with a key difference: once a tuple is created, its contents cannot be changed. This immutability makes tuples a reliable choice for storing fixed collections of data.

8.What is a hash table, and how does it relate to dictionaries in Python?

In Python, a dictionary is a data structure that's implemented using a hash table. A hash table is a data structure that stores key-value pairs, and the dictionary data type in Python uses hash tables.

9.Can lists contain different data types in Python?

A list can also contain a mix of Python types including strings, floats, and booleans.

10.Explain why strings are immutable in Python?

In Python, strings are made immutable so that programmers cannot alter the contents of the object (even by mistake). This avoids unnecessary bugs.Some other immutable objects are integer, float, tuple, and bool.

11.What advantages do dictionaries offer over lists for certain tasks?

Dictionaries are better than lists for tasks that require quick lookups, such as searching for a specific value or object. Dictionaries are also good for storing complex data structures like graphs and databases.

12.Describe a scenario where using a tuple would be preferable over a list?

Lists are mutable while tuples are immutable, there is also strong culture that tuples are preferred for heterogeneous collections while lists are preferred for homogeneous collections. Hence, basically consider these parameters when you need to choose tuple over list or vice versa.

 13.How do sets handle duplicate values in Python?

Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14.How does the “in” keyword work differently for lists and dictionaries?

The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

 15.Can you modify the elements of a tuple? Explain why or why not?

No, we cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

16.What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary within another dictionary, essentially creating a hierarchical structure where values within a dictionary can themselves be dictionaries, allowing for the organization of complex data with multiple levels of detail.

In [3]:
inventory = {"Electronics": {"Laptops": {"Apple": {"MacBook Pro": 10, "MacBook Air": 5},"Dell": {"XPS 13": 8, "Inspiron": 3}},"Phones": {"Samsung": {"Galaxy S23": 15, "Fold 4": 7},"iPhone": {"14 Pro Max": 20, "14 Pro": 12}},"Home Appliances": { "Refrigerators": {"LG": 4, "Samsung": 6},"Washing Machines": {"Whirlpool": 2, "Maytag": 1}}}}

print(inventory)

{'Electronics': {'Laptops': {'Apple': {'MacBook Pro': 10, 'MacBook Air': 5}, 'Dell': {'XPS 13': 8, 'Inspiron': 3}}, 'Phones': {'Samsung': {'Galaxy S23': 15, 'Fold 4': 7}, 'iPhone': {'14 Pro Max': 20, '14 Pro': 12}}, 'Home Appliances': {'Refrigerators': {'LG': 4, 'Samsung': 6}, 'Washing Machines': {'Whirlpool': 2, 'Maytag': 1}}}}

17.Describe the time complexity of accessing elements in a dictionary?

The time complexity of accessing an element in a Python dictionary is O(1) on average, but can be O(n) in the worst case. The worst case occurs when there are many hash collisions or when the dictionary needs to be resized.

18.In what situations are lists preferred over dictionaries?

When we need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. Dictionaries did not preserve insertion order at all. This meant that when you accessed or printed the items, the order could vary, as dictionaries were optimized for fast lookups rather than maintaining order.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

In Python, the difference between data retrieval in a list and a dictionary is that lists use indices to access elements, while dictionaries use keys.

# Practical Questions

In [6]:
#Write a code to create a string with your name and print it?
print("my name is ajay")
print

name = "Aakash"
print("my name is",name)

my name is ajay
my name is Aakash

In [7]:
#Write a code to find the length of the string "Hello World"?
string = "Hello World"
length = len(string)
print(length)

11

In [8]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
str = "Python Programming"
print(str[0:3])

Pyt

In [15]:
#Write a code to convert the string "hello" to uppercase
string = "hello"
string.upper()

'HELLO'

In [16]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
s.replace("apple", "orange")

'I like orange'

In [18]:
#Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)
type(list)

[1, 2, 3, 4, 5]

list

In [23]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [24]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [28]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [34]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [38]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [39]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t= ('red', 'green', 'blue', 'yellow')
print(t[2])

blue

In [44]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t= (10, 20, 5, 15)
min_num = min(t)
print(min_num)

5

In [66]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [77]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple", "banana", "kiwi")
if "kiwi" in tuple:
  print("Yes, 'kiwi' is in the fruits tuple")

Yes, 'kiwi' is in the fruits tuple

In [80]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)
type(s)

{'a', 'c', 'b'}

set

In [81]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s= {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [83]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [84]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

In [86]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {3,4,5}
s1.intersection(s2)

{3}

In [87]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict = {"name": "mary", "age": 36, "city": "New York"}
print(dict)

{'name': 'mary', 'age': 36, 'city': 'New York'}

In [88]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [90]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
d['name']

'Alice'

In [91]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [92]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print("Yes, 'city' is one of the keys in the dictionary")

Yes, 'city' is one of the keys in the dictionary

In [93]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1, 2, 3, 4, 5]
print(list)

tuple = (1, 2, 3, 4, 5)
print(tuple)

dict = {'name': 'Alice', 'age': 30}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Alice', 'age': 30}

In [129]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

import random
num_list = random.sample(range(1,100),5)
num_list.sort()
print(num_list)

[8, 15, 21, 24, 54]

In [130]:
# Write a code to create a list with strings and print the element at the third index.

list = ["apple", "banana", "cherry", "date", "elderberry"]
print(list[2])

cherry

In [131]:
#Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [148]:
#Write a code to convert a list of strings into a set.

list1 = ["apple", "banana", "cherry", "date", "elderberry"]
set1 = {x for x in list}
set1

{'apple', 'banana', 'cherry', 'date', 'elderberry'}